/* custom css styles */

#hero::after {
  content: "";
  background-image: url('images/hero-area-sharestats.webp');
//  opacity: 0.6;
  filter: brightness(40%);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  margin-top: -100px;
}

.itembank {
  margin: 20px;
}

      
#searchBox {
      margin: 10px;
      text-align: center;
    }

#hero {
\\  background-color: red;
\\  border: 5px solid;
  margin: auto;
  width: 100%;
  padding: 100px 0 100px 0;
}

#item__searchbox {
  width: 60%;
  margin: auto;
}

#svg2 {
  transform: scale(.7);
}

.white {
  background-color: white;
  width: 100%;
}

.card-img {
  height: 400px !important;
}

.navbar li.nav-item a.nav-link span {
  color: white !important;
}

.mt-3 {
    margin-top: 0rem !important;
}

.offcanvas, .offcanvas-xxl, .offcanvas-xl, .offcanvas-lg, .offcanvas-md, .offcanvas-sm {
  --bs-offcanvas-zindex: 1045;
  --bs-offcanvas-width: 1000px;
  --bs-offcanvas-height: 30vh;
  --bs-offcanvas-padding-x: 1rem;
  --bs-offcanvas-padding-y: 1rem;
  --bs-offcanvas-color: var(--bs-body-color);
  --bs-offcanvas-bg: var(--bs-body-bg);
  --bs-offcanvas-border-width: var(--bs-border-width);
  --bs-offcanvas-border-color: var(--bs-border-color-translucent);
  --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(55, 94, 148, 0.2);
  --bs-offcanvas-transition: transform 0.3s ease-in-out;
  --bs-offcanvas-title-line-height: 1.5;
}
